* {
    box-sizing: border-box;
}

.signup-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
}

.signup-details-and-advertise-container {
    height: 80%;
    padding: 3%;
    display: flex;
    border: 1px solid rgb(207, 204, 204);
    border-radius: 8px;
    width: 50vw;
    justify-content: space-between;
}

.signup-details {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
}

.logo, .text {
    width: 100%;
    /* border: 3px solid brown; */
}

.name-text, .password-text, .confirm-password-text {
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.row1, .row3 {
    display: flex;
    justify-content: space-between;
}

.username-text {
    width: 100%;
}

.advertise-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid green; */
}

.AdvertiseSVG-text {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    line-height: 1.4286;
    color: #202124;
}

.row3 {
    /* border: 2px solid blue; */
    position: relative;
    top: 8%;
    left: 20%;
}

